<!-- Link til knapper brugt i boksen med anmeldselser -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<section class="text-center text-pdefault py-lg px-m md:px-lg" x-data="{ 
  currentReview: 0, 
  reviews: [
    { text: 'Det er altid så hyggeligt at komme på Mariannes lille café Local By Me på Musicon.', author: 'Janni Schneider' },

    { text: 'Landlig stil. Rolig og blid cafe, betjeningen var meget venlig, jeg stolede på sælgerens anbefaling og tog laks på dåse og brød til morgenmad. Fisken og olien med laksen var virkelig god! Varmt og frisk brød! Frøbrødet var også min absolutte favorit, tilpas salt. Caféen sælger en masse produkter der var på menuen, inklusive lokal gin.', author: 'Julie Suola' },

    { text: 'Super hyggelig lille café i Musicon. Vi fik serveret en dejlig morgenmadstallerken med spejlæg.', author: 'Helle Mûnsberg' },

    { text: 'Dejligt og hyggeligt sted. Prøvede den fælles frokost tallerken, og den var lækker.', author: 'Henrik Schucany' },

    { text: 'Local By Me har et rigtig godt udvalg af lokale produkter og gavekurve, og det er også en café der serverer mad og drikkevarer. Ejeren er super dejlig og hjalp mig med at finde den perfekte gave.', author: 'Melissa Robbins' },

    { text: 'Sindssygt lækkert og vanvittigt god service. Fedt koncept med produkter fra lokale og små virksomheder. Fik hjemmebagt brød med mayo, syltede rødløg og færøsk laks, økologisk limonade og en vegansk flødebolle for 155 kr.', author: 'Søs Lamhauge' },
  ] 
}">

  <h2 class="text-mnormalh4 md:text-normalh3 font-poppins font-bold text-center mb-m">Glade kunder fortæller</h2>

  <!-- Selve anmeldelsesboksen -->
  <div class="flex justify-center">

    <div class="bg-brun200 shadow-md rounded-xl p-lg text-center max-w-xxl w-full md:w-10/12 md:h-96 relative flex items-center justify-center">

      <!-- Forrige knap -->
      <button
        type="button"
        class="absolute left-4 top-1/2 transform -translate-y-1/2 w-0 md:w-16 md:h-16 flex items-center justify-center"
        @click="currentReview = (currentReview - 1 + reviews.length) % reviews.length"
        aria-label="Forrige anmeldelse">
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <!-- Tekst -->
      <div class="p-s md:p-lg">
        <p class="text-pbold md:normalh4 font-poppins font-semibold">"<span x-text="reviews[currentReview].text"></span>"</p>
      
        <p class="text-mpnormal md:pnormal font-poppins mt-m" x-text="reviews[currentReview].author"></p>
      </div>

      <!-- Næste knap -->
      <button
        type="button"
        class="absolute right-4 top-1/2 transform -translate-y-1/2 w-0 md:w-16 md:h-16 flex items-center justify-center"
        @click="currentReview = (currentReview + 1) % reviews.length"
        aria-label="Næste anmeldelse">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</section>

