---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "medium" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const buttonStyling = "";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary:
    "bg-mgron500 hover:bg-mgron700 active:bg-mgron800 text-phvid hover:text-hvid py-xs px-s font-poppins text-link md:text-mlink rounded-lg",
  secondary:
    "bg-gul500 hover:bg-gul600 active:bg-gul700 text-phvid py-xs px-s font-poppins text-link md:text-mlink rounded-lg",
  navbar:
    "text-gron500 hover:text-gron700 active:text-gron800 py-xs px-s font-poppins text-link md:text-mlink",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  desktop: "p-m",
  mobil: "p-s",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}
  ><slot /></button
>

<!-- <Button variant="primary eller secondary eller navbar">Skriv tekst her</Button> -->