---
import { Image } from "astro:assets";
import TestH from "../assets/images/test-horisontal.png"
import Smiley from "../assets/images/smiley_big.png"
import Menukort from "../components/Menukort.astro"
import Button from "./Button.astro";
---

<section class="relative">
    <Image
      src={TestH}
      alt="Baggrundsbillede til produkter"
      class="h-64 md:h-96 mb-20"
    />
  
    <div
      class="absolute top-12 md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 text-center"
    >
      <h1
        class="text-mserifh1 md:text-serifh1 text-white"
      >
        Caféen
      </h1>
      <h4
        class="text-mnormal md:text-normalh4 text-white"
      >
      Med bæredygtige og ofte økologiske produkter fra lokale producenter tilbyder Local By Me en caféoplevelse, der er helt unik. <br/>
      Menukortet tager udgangspunkt i de varer, der findes i butikken. Det giver dig mulighed for at smage på de lokale råvarer, opleve deres høje kvalitet og høre historien om de mennesker, der står bag produktionen.
      
      </h4>
    </div>
  </section>
  <section class="flex justify-center mt-5">
    <Menukort />
  </section>
  <section class="bg-beige px-10 md:px-20 py-10 md:grid md:grid-cols-2 my-10 md:my-20">
   <div class="md:col-start-1 flex justify-center">
    <ul class="text-black">
      <li>Caféens åbningstider</li><br/>
      <li><strong>Mandag:</strong> 12.00 - 16.00</li>
        <li><strong>Tirsdag:</strong> Lukket</li>
        <li><strong>Onsdag:</strong> Lukket</li>
        <li><strong>Torsdag:</strong> 12.00 - 18.00</li>
        <li><strong>Fredag:</strong> 12.00 - 18.00</li>
        <li><strong>Lørdag:</strong> 14.00 - 16.00</li>
        <li><strong>Søndag:</strong> 12.00 - 16.00</li>
      </ul></div>
    <div class="md:col-start-2 flex justify-center md:mt-0 mt-10 ">
      <div class="md:flex md:flex-col grid grid-cols-2 items-center ">
    <Image
    src={Smiley}
    alt="E-smiley"
    class="md:h-32 md:w-32 h-14 w-14"
  />
  <div class="md:mt-6 mt-0 ">
  <Button style="primary"> <a href="https://www.findsmiley.dk/1013380" target="_blank">
    Se smiley rapport
  </a></Button>
</div></div>
  </section>