---
import Button from "./Button.astro";
import { Image } from "astro:assets";

interface CardProps {
  imageSrc: string;
  imageAlt: string;
  title: string;
  description: string;
}

const { imageSrc, imageAlt, title, description } = Astro.props;
---

<div class="my-mxl md:my-0 max-w-xs overflow-hidden shadow-skygge m-auto scale-100 rounded-xl">

 <!-- Billede -->
  <Image src={imageSrc} alt={imageAlt} class="md:w-full"/>

<!-- Overskrift -->
  <div class="px-6 py-4">
    <div class="text-serifh3 font-serif my-s">
      {title}
    </div>

<!-- Beskrivelse -->
    <p class="">
      {description}
    </p>
  </div>

<!-- Knap -->
  <div class="mb-l ml-5">
    <a href="/produktside/"><Button variant="secondary">Knap</Button></a>
  </div>
</div>