---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import StorWellness from "../assets/images/storwellness.webp";
import ToWellness from "../assets/images/2wellness.webp";
import TreWellness from "../assets/images/3wellness.webp";
---

<section class="px-lg md:grid md:grid-cols-5 md:my-28 md:mx-xxl">
  <div class="md:col-start-4 md:col-span-2">
  <h2 class="font-poppins font-semibold text-mnormalh2 text-pgron text-center pt-6 md:hidden">Wellness kurven</h2>
  </div>

  <div class="md:col-start-1 md:col-span-2">
  <Image
  src={StorWellness}
  alt="Billede af hele wellness kurven"
  class="h-full w-full pt-6 md:pt-0"
/></div>
<div class="grid grid-cols-2 md:grid-cols-1">
  <div class="col-start-1 pr-2 py-4 md:pr-0 md:py-0 md:pl-m md:pb-s md:col-start-3 md:col-span-1">
  <Image
  src={ToWellness}
  alt="Billede af alle produkter"
  class="h-full w-full"
/></div>
<div class="col-start-2 pl-2 py-4 md:py-0 md:pl-m md:pt-s md:col-start-3 md:col-span-1">
<Image
src={TreWellness}
alt="Billede af produkter med badesalt forrest"
class="h-full w-full"
/></div>
</div>


<div class="pb-10 md:pb-0 md:col-start-4 md:col-span-2 md:pl-8 md:flex md:flex-col md:justify-center font-poppins">
  <h2 class="md:font-semibold md:text-normalh2 text-pgron md:pb-5 hidden md:block">Wellness kurven</h2>
<p class="text-pdefault md:text-pnormal text-mpnormal">Forkæl dig selv eller en du holder af, med en wellness kurv fyldt med selvforkælelse, fantastiske dufte og ro 
  til både krop og sjæl.</p>
<ul class="list-decimal pl-6 py-4 text-pdefault md:text-pnormal text-mpnormal">
  <li class="pt-2">Smith & Køster Protein Shampoo</li>
  <li class="pt-2">Smith & Køster Body Scrub</li>
  <li class="pt-2">Smith & Køster Shower Steamers</li>
  <li class="pt-2">Smith & Køster Handmade Soap</li>
  <li class="pt-2">Smith & Køster Bath Salt </li>
</ul>
<p class="font-semibold pb-m text-pdefault md:text-pnormal text-mpnormal">Pris 480,- kr</p>
<a href="/bestilling" class="w-full md:w-auto">
  <Button>Bestil kurv</Button>
</a>
</div>

</section>

