---
import { Image } from "astro:assets";
import DLogo from "../assets/images/desktoplogo.svg"
import Facebook from "../assets/images/face.png"
import Instagram from "../assets/images/insta.png"
import Button from "./Button.astro";
import "../styles/global.css";
---
<section class="md:pt-lg grid grid-rows-auto justify-center md:grid-cols-7 font-poppins text-mlink text-mgron500">
<div class="flex justify-center items-center md:col-start-1 md:col-span-2 md:my-0 mt-4 mb-8">
   <a href="/startside"><Image
    src={DLogo}
    alt="Logo til footer"
  /></a></div>

  <div class="mx-8 mb-10 md:col-start-3 md:m-0">
    <ul>
        <li><strong>Local By Me</strong></li>
        <li class="pt-2"><a href="/cafe" class="hover:text-mgron700">Caféen</a></li>
        <li class="pt-2"><a href="/butik" class="hover:text-mgron700">Butikken</a></li>
        <li class="pt-2"><a href="/arrangementer" class="hover:text-mgron700">Arrangementer</a></li>
    </ul>
  </div>

  <div class="mx-8 mb-10 md:col-start-4 md:m-0 ">
    <ul>
        <li><strong>Information</strong></li>
        <li class="pt-2"><a href="/om" class="hover:text-mgron700">Om os</a></li>
        <li class="pt-2"><a href="/kontakt" class="hover:text-mgron700">Kontakt</a></li>
        <li class="pt-2"><a href="https://maps.app.goo.gl/54tnmp4SvUvVVc5j6" target="_blank" class="hover:text-mgron700">Find vej</a></li>
    </ul>
  </div>

  <div class="mx-8 mb-10 md:col-start-5 md:m-0">
    <ul>
        <li><strong>Følg os</strong></li>
        <div class="grid grid-cols-6 md:grid-cols-5"><li class="col-start-1 pt-2"><a href="https://www.facebook.com/localbyme" target="_blank"><Image
            src={Facebook}
            alt="Facebook icon"
            class="h-10 w-10 hover:scale-110 fill-current text-mgron500"
          /></a></li>
<!-- Facebook icons created by fauzin idea - Flaticon -->
          <li class="col-start-2 pt-2"><a href="https://www.instagram.com/local_by_me/" target="_blank"><Image
            src={Instagram}
            alt="Instagram icon"
            class="h-10 w-10 hover:scale-110"
          /></a></li>
<!-- Instagram icons created by edt.im - Flaticon -->
        </div>
    </ul>
  </div>


  <div class="mx-8 md:col-start-6 md:col-span-2 md:mr-20">
    <ul>
        <li><strong>Nyhedsbrev</strong></li>
        <li class="pt-2">Bliv en del af et større fællesskab.</li>
        <li class="pt-2">
            <form class="flex items-center">
            <div class="flex items-center border rounded-md border-black py-2">
              <input class="appearance-none bg-transparent border-none w-full text-mgron700 mr-3 py-1 px-2 leading-tight focus:outline-none text-mlink" type="text" placeholder="E-mail" aria-label="E-mail">
              <Button variant="navbar" class="p-s">Indsend</Button>
            </div>
          </form>
        </li>
        <li class="text-xs pt-2"><a href="#" class="hover:underline">Privatlivs- & cookiepolitik</a></li>
    </ul>
  </div>
  <p class="text-mail flex justify-center col-span-full pt-8">Copyright © 2024 - localbyme.dk</p>
</section>
  
