---
import { Image } from "astro:assets";
import Cross from "../assets/images/cross.png"
import Button from "./Button.astro";
---

<section class="font-poppins bg-brun50 md:w-fit w-10/12 absolute md:top-32 top-24 left-1/2 transform -translate-x-1/2 z-20 flex justify-center items-center md:px-lg rounded-3xl shadow-skygge">

    <form>
    <div class="absolute top-2 right-2 p-2">
    <a href="/produkt"><Image
        src={Cross}
        alt="Luk ned"
        class="md:h-7 md:w-7 h-5 w-5 hover:scale-110"
      /></a></div>
<div class="text-center pt-lg">
    <h2 class="md:text-normalh3 text-mnormalh4 text-pgron font-semibold">Tak for din bestilling</h2>
    <div class="text-pdefault md:text-pnormal text-mpnormal md:pt-s pt-0 md:mx-lg mx-m">
    <p class="pt-s">Tak for din bestilling af en gavekurv fra Local By Me!</p>

      <p class="pt-s">Vi pakker den med nøje udvalgte og lokale produkter, og den vil være klar til afhentning på din valgte dag i vores åbningstid.</p>
      
      <p class="pt-s">Du modtager en bekræftelsesmail med detaljer om din ordre.</p>
      
      <p class="pt-s">Vi glæder os til at se dig!</p></div>
</div>

<div class="flex justify-center my-m md:my-lg">
  <Button><a href="/startside">Til forsiden</a></Button></div>             
    </form>

  </section>
  
  <style>
    input[type="date"] {
      color: slategray;
    }
  
    input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(50%);
    }
  </style>

  